<nav>
    <div class="nav-wrapper blue-grey lighten-2">
    <span href="" class="brand-logo">Global Research&trade; Top Headlines Scrapings</span>
    <ul id="nav-mobile" class="right">
        {{!-- <li><a href="/saved">Saved</a></li> --}}
        <li><a style="font-size:20px" href="/rescrape">Rescrape</a></li>
        {{!-- <li><a class="modal-trigger" href="#loginModal">Login</a></li>
        <li><a class="modal-trigger" href="#registerModal">Register</a></li> --}}
    </ul>
    </div>
</nav>

<div class="container">
{{#each articles as |art|}}
    <div class="row">
        <div class="col s2">
            <div class="card blue-grey">
                <div class="card-content white-text" style="display:flex">
                    <img width="70" height="70" src="{{art.picUrl}}">
                    <span style="padding-left:5px">{{art.artTitle}}</span>
                </div>
                <p style="font-size: 10px">&nbsp;{{art.artDate}} ID:{{art.artID}}</p>
                <div class="card-action">
                    <a href="{{art.artUrl}}" target="_blank" style="color:yellow">READ ARTICLE</a>
                    {{!-- <a href="/save/{{art.artID}}">SAVE</a> --}}
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card teal">
                <div class="card-content white-text">
                    {{!-- <span style="font-size: 10px">Login/Save Article to comment</span> --}}
                    <span class="card-title">COMMENTS <span style="font-size: 10px">&nbsp;ID:{{art.artID}}</span></span>
                </div>
                <div>
                    {{#each art.comments as |com|}}
                    
                        <form action="/remove/{{com._id}}" method="post">
                            <span style="font-size: 13px; color:#faf600">{{com.body}}</span>
                            <input style="font-size:8px;color:bluegray" type="submit" value="X">
                        </form>
                    
                    {{/each}}
                </div>
                <div class="card-action">
                    <form action="/comment/{{art.artID}}" method="post">
                    <input type="submit" class="btn btn-default" value="Comment">
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/each}}
</div>


<div class="modal" id="loginModal">

    <button style="float:right" type="button" class="modal-close">&times;</button>
    <div class="comments">
        <h4 class="modal-title" style="margin-left:10px">Sign In</h4>
    </div>
    <form action="/login" method="post">
        <label style="margin:20px 20px 0 20px" for="email">E-mail</label>
        <input style="margin:0 20px 0 20px" type="text" name ="email" placeholder="email">
        <label style="margin:20px 20px 0 20px" for="password">Password</label>
        <input style="margin:0 20px 0 20px" type="password" name="password" placeholder="password">
        <input style="margin:20px 20px;float:right" type="submit" class="modal-close btn btn-default" value="Login">
    </form>

</div>

<div class="modal" id="registerModal">

    <button style="float:right" type="button" class="modal-close">&times;</button>
    <div class="comments">
        <h4 class="modal-title" style="margin-left:10px">Sign In</h4>
    </div>
    <form action="/register" method="post">
        <label style="margin:20px 20px 0 20px" for="username">Username</label>
        <input style="margin:0 20px 0 20px" type="text" name="username" placeholder="Username">
        <label style="margin:20px 20px 0 20px" for="email">E-mail</label>
        <input style="margin:0 20px 0 20px" type="text" name ="email" placeholder="email">
        <label style="margin:20px 20px 0 20px" for="password">Password</label>
        <input style="margin:0 20px 0 20px" type="password" name="password" placeholder="password">
        <input style="margin:20px 20px;float:right" type="submit" class="modal-close btn btn-default" value="Register">
    </form>

</div>